

        
body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#701b92; 
    background-image:url("bubble.jpeg");
    font-family: 'Arial';  
}  
.login{  
        width: 300px; 
        margin: auto;   
        padding: 50px;  
        background: #a80fa871;  
        border-radius: 25px ;  
          
}  
h2{  
    text-align: center;  
    color: #9520d8;  
    padding: 30px;  
}  
label{  
    color: #ebddec;  
    font-size: 17px;  
}  
#Uname{  
     width: 250px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 250px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#log{  
    width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 39px;  
    padding-left: 5px;  

  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    text-decoration: none;
    color: #dcc1e0;  
}  